@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: white;
}


h1 {
    font-family:"Bebas Neue", cursive;
    margin-bottom: 5px;
    font-size: 10vw;
    color:darkslategray;
    text-align: center;
    text-shadow: 10px 10px 10px black ;
}
.title {
    position: relative;
    right: 22px;
    margin-top: 10px;
    
}

.gridborder{
    box-shadow:  10px 10px 10px black;
}
.grid {
    border-radius: .2%;
    height:min-content;
    width: min-content;
    display: grid;
    grid-template-rows: repeat(6, 5vw);
    grid-template-columns: repeat(6, 5vw);
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.freeimages.com%2Fimages%2Flarge-previews%2F3a5%2Fsilver-texture-1182029.jpg&f=1&nofb=1");
    background-repeat: no-repeat ;
    padding: 7px;
    margin-top: 1px;
    margin-left: 10%;
    position:relative;
    left:23%;
}
.grid-box{
    margin: 7px;
    background-color: black;
    border-radius: 10%;
}
footer {
}
button {
    position: relative;
    margin-top:30px;
    margin-left: 45%;
    padding: 7px;
    background-color: gray;
    font-size: large;
    box-shadow: 10px 10px 10px black;

}